body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font: 16px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;-webkit-text-size-adjust:100%;overflow: auto;-webkit-font-smoothing: antialiased;
  color: #000;
}
a{color:#2d374b;text-decoration:none}
a:hover{color:#059bf4;}
em{font-style:normal}
ul,li{list-style:none}

i, s {
}
.w{
  width: 1210px;
  margin:0 auto;
}
p{word-wrap:break-word}
.clearfix:after {
  content: " ";
  height: 0;
  line-height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}

.clearfix {
  zoom: 1; /* 针对IE浏览器设置*/
}
div,ul,li,p{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}